{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vinyl Collector</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <body>
    <header class="navbar-fixed black-text">
      <nav class="z-depth-0">
        <div class="nav-wrapper black-text">
          <ul>
            <li class="black-text">
              <a href="/" class="black-text left brand-logo">Vinyl Collector</a>
            </li>
          </ul>
          <ul class="right">
            <li>
              <a href="/about" class="black-text">About</a>
            </li>
            <li>
              <a href="/records" class="black-text">View All My Records</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer">
      <div class="right">
        All Rights Reserved, &copy; 2022 Vinyl Collector &nbsp;
      </div>
    </footer>
  </body>
</html>
